@import '/node_modules/bootstrap/scss/bootstrap.scss';

/* #region Variables */
$dc_primary: #0282f9;
$dc_dark: #1c1c1c;
$dc_white: #ffffff;
$dc_dark_soft: #303030;
$dc_light: #797979;

/* #endregion Variables */

/* #region Header */

#app_header {

  .selected {
    color: $dc_primary;
  }
}

/* #endregion Header */

/* #region Main */

#app_main {

  background-color: $dc_dark;
  height: 200px; // To Eliminate
}

/* #endregion Main */

/* #region */