@use '/node_modules/bootstrap/scss/bootstrap.scss';

/* @use './partials/variables.scss' as *;

@use './partials/app_header.scss' as *;

@use './partials/app_jumbo.scss' as *;

@use './partials/app_main.scss' as *;

@use './partials/app_buy.scss' as *;

@use './partials/links.scss' as *;

@use './partials/footer.scss' as *; */



// #region Variables 
$dc_primary: #0282f9;
$dc_dark: #1c1c1c;
$dc_white: #ffffff;
$dc_dark_soft: #303030;
$dc_light: #797979;

.container {
    max-width: 1280px;
}

// #endregion Variables 

// #region Header 

#app_header {

    li>a {
        padding: 3rem 0.8rem;
    }

    .selected {
        color: $dc_primary;
        border-bottom: 6px solid $dc_primary;

    }

    a:hover {
        color: $dc_primary;
    }


}

// #endregion Header

// #region Jumbo 

#app_jumbo {

    min-height: 400px;
    background-image: url(../img/jumbotron.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

// #endregion Jumbo 


// #region Main 

#app_main {

    background-color: $dc_dark;

    button {
        padding: 0 3rem;
    }

    .card {
        background-color: $dc_dark;
        color: $dc_white;
        border: none;

        img {
            height: auto;
            aspect-ratio: 1 / 1;
        }
    }

}

// #endregion Main 


// #region Buy 

#buy {
    background-color: $dc_primary;
    color: $dc_white;
    position: relative;
    z-index: 100;

    a {
        text-decoration: none;
        color: $dc_white;

        img {
            height: 60px;
        }

        span {
            padding-left: 1rem;

        }

    }
}

// #endregion Buy 

// #region Links 

#links {
    background-image: url(../img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: $dc_white;


    a {
        text-decoration: none;
        color: $dc_light;

    }

    #dc_logo_big {
        position: absolute;
        translate: 0 -150px;
        z-index: 0;
    }
}

// #endregion Links 

// #region Footer 

#app_footer {
    background-color: $dc_dark_soft;
    position: relative;
    z-index: 100;

    button {
        color: $dc_white;
        border-color: $dc_primary;
    }

    #follow {
        color: $dc_primary;
        text-decoration: none;
    }
}

// #endregion Footer 