@import '/node_modules/bootstrap/scss/bootstrap.scss';

/* #region Variables */
$dc_primary: #0282f9;
$dc_dark: #1c1c1c;
$dc_white: #ffffff;
$dc_dark_soft: #303030;
$dc_light: #797979;

.container {
  max-width: 1280px;
}

/* #endregion Variables */

/* #region Header */

#app_header {

  li>a {
    padding: 3rem 0.8rem;
  }

  .selected {
    color: $dc_primary;
    border-bottom: 6px solid $dc_primary;

  }


}

/* #endregion Header */

/* #region Main */

#app_main {

  background-color: $dc_dark;
  height: 200px; // To Eliminate
}

/* #endregion Main */

/* #region Buy */

#buy {
  background-color: $dc_primary;
  color: $dc_white;
  position: relative;
  z-index: 100;

  a {
    text-decoration: none;
    color: $dc_white;

    img {
      height: 60px;
    }

    span {
      padding-left: 1rem;

    }

  }
}

/* #endregion Buy */

/* #region Links */

#links {
  background-image: url(../img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: $dc_white;


  a {
    text-decoration: none;
    color: $dc_light;

  }

  #dc_logo_big {
    position: absolute;
    translate: 0 -150px;
    z-index: 0;
  }
}

/* #endregion Links */

/* #region Footer */

#app_footer {
  background-color: $dc_dark_soft;
  position: relative;
  z-index: 100;

  button {
    color: $dc_white;
    border-color: $dc_primary;
  }

  #follow {
    color: $dc_primary;
    text-decoration: none;
  }
}

/* #endregion Footer */